# .coveragerc

[run]
source = wound_segmentation
omit =
    wound_segmentation/main.py
    wound_segmentation/checkpoints.py
    wound_segmentation/utils.py:save_result
    */config-3.py
    */software_venv/*
    */site-packages/*

[report]
show_missing = true
