# Python cache and environment
__pycache__/
*.pyc
software_venv/

# Model and data
*.keras
*.h5
*.tfrecord
outputs/
model_weights/

# System files
.DS_Store

# VS Code settings
.vscode/

# coverage and test cache
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# html docs
docs/build/